BASE_PATH_DATASET="/home/tu_usuario/Documentos/Proyects/amaru/data"
BASE_PATH_DATA_RAW="/home/tu_usuario/Documentos/Proyects/amaru/data/raw"
BASE_PATH_DATA_CLEANED="/home/tu_usuario/Documentos/Proyects/amaru/data/cleaned"

# Path to the configuration YAML file
PATH_CONFIG="/home/tu_usuario/Documentos/Proyects/amaru/src/amaru/config/config.yml"

# Folder where generated artifacts are stored (ignored by git)
PATH_OUTPUT="/home/tu_usuario/Documentos/Proyects/amaru/output"

# Folder where filtered CSVs are stored (inside PATH_OUTPUT)
PATH_TO_PROCESS="/home/tu_usuario/Documentos/Proyects/amaru/output/to_process"
